* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #20232A;
}

header .navbar-brand {
  color: #5ED3F3;
}

header a {
  color: #fff;
}

header a:hover {
  color: #5ED3F3;
}

/* section header title */
h4 {
  color: #20232A;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin: 30px 0 50px;
}

h4::after {
  content: "";
  width: 100%;
  position: absolute;
  margin: 0 auto;
  height: 1.5px;
  background: #5ED3F3;
  left: 0;
  right: 0;
  bottom: -8px;
}

h5 {
  color: #20232A;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.about-pharagraph {
  text-indent: 30px;
}

.section-about {
  background-color: #f7f7f7;
  color: #20232A;
  padding-bottom: 40px;
}

.about-container::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('./images/react_logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 250px;
  background-size: 50% auto;
  opacity: 0.1;
}

@media (max-width: 1280px) {
  .about-container::before {
    display: none;
  }
}

.about-me-container {
  border: 1px solid #d8d8d8;
  padding: 15px;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 10px;
}

.certificates-container {
  border: 1px solid #d8d8d8;
  height: 100%;
  padding-top: 56px;
}

.certificates-container::after,
.projects-filter::after {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  padding: 1em;
  color: #aaa;
  font-size: 16px;
  font-weight: 500;
}

.frontend-label,
.backend-label {
  font-weight: 500;
}

.certificates-container::after {
  content: 'FREECODECAMP CERTIFICATIONS';
}

.projects-filter::after {
  content: 'FILTERS';
}

/* carousel */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235ED3F3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235ED3F3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* make slider indicator and icons prev and next visible */
.carousel-container {
  margin-left: 30px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important;
}

/* push extra 50px so it's more visible just outside the carousel */
.carousel-control-next,
.carousel-control-prev {
  width: 30px !important;
}

.carousel-indicators li {
  background-color: #5ED3F3;
}

.data-link::after {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: .5rem;
  height: .5rem;
  margin: .125rem 0 0 .125rem;
  background-size: .5rem .5rem;
  pointer-events: none;
  background-image: url('./images/go_to_link.svg');
}

.projects-filter {
  background-color: #F2F2F2;
  padding-top: 3em;
  border: solid #d8d8d8 1px;
  width: 150px;
}

.projects-demo-col {
  border-top: solid #d8d8d8 1px;
  border-right: solid #d8d8d8 1px;
  border-bottom: solid #d8d8d8 1px;
}

.hide {
  display: none !important;
}

.projects-demo {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 15px;
}

.fe-filters,
.be-filters {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
}

.card-body {
  padding: 1em;
}

@media (max-width: 992px) {
  .projects-demo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-demo {
    grid-template-columns: 1fr;
  }
}


.project-card-body {
  border-top: 1px solid #d8d8d8;
  background-color: #f9f9f9;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.project-link {
  background: #5ED3F3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 8px;
  opacity: 0.8;
}

.project-link:hover {
  opacity: 1;
}